:root {
    --animation-duration-short: 200ms;
    --animation-duration-medium: 250ms;
    --animation-duration-medium2: 300ms;
    --animation-duration-medium3: 350ms;
    --animation-duration-long: 450ms;
    --animation-duration-extra-long: 10700ms;
}