.overlay {
    animation: animation-fade ease-in var(--animation-duration-medium3);
}

.loginButton {
    min-height: 48px;
    width: 100%;
}

.close_button {
    border: none;
    font-size: 150%;
    padding: 5px;
    position: absolute;
    right: 8px;
    top: 10px;
}

.container {
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    background: var(--color-background);
}

.wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
}

.dialogItem {
    padding-bottom: 16px;
}

.input {
    width: 100%;
}

@media (--TABLET) {
    .container {
        margin: 10vh auto;
        height: auto;
        width: fit-content;
        border-radius: var(--shape-extra-large);
    }

    .close_button {
        top: 0;
        right: 10px;
    }

    .wrapper {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

/*animation: fade-faganja 3s;*/
/*}*/

@keyframes animation-fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
