.mainwrapper {
    background-color: var(--background-color);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}

.link {
    padding: 0.5rem;
}

.links {
    display: none;
}

.links, .left_side {
    align-items: baseline;
}

.left_side {
    display: flex;
}

.link.selected {
    font-weight: 600;
}

.userprofile {
    border-radius: 50%;
    border: 1px solid var(--color-text);
}

.right_side {
    display: none;
    justify-content: flex-end;
    gap: 0.5rem;
}

@media (--MOBILE) {
    .links {
        display: flex;
    }

    .right_side {
        display: flex;
    }
}