.mainwrapper {
    background-color: var(--background-color);
}

.error {
    color: var(--color-error);
}

.userprofile_card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: flex-start;
    gap: 16px;
}

.userprofile_section {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
}

.userprofile_logout {
    padding-left: 0;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}

.link {
    font-weight: var(--font-weight-regular);
    padding: 0.5rem;
}

.login_button {
    background: var(--color-on-background);
    color: var(--color-background);
}

.logo {
    margin-right: 32px;
}

.links {
    display: none;
}

.links, .left_side {
    align-items: baseline;
}

.left_side {
    display: flex;
}

.link.selected {
    font-weight: 600;
}

.userprofile_button {
    color: inherit;
}

.userprofile {
    border-radius: var(--shape-full);
    border: 1.5px solid var(--color-on-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_side {
    display: none;
    justify-content: flex-end;
    gap: 0.5rem;
}

.mobile_button {
    transform: translateX(16px);
}

.mobile_right_side {
    display: flex;
    justify-content: flex-end;
}

@media (--MOBILE) {
    .links {
        display: flex;
    }

    .right_side {
        display: flex;
    }

    .mobile_right_side {
        display: none;
    }
}