.wrapper {
    padding: 32px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.normal_copyright, .mobile_copyright {
    color: var(--color-outline);
}

.normal_copyright {
    display: none;
}

.logo {
    display: flex;
    justify-content: center;
    text-align: center;
}

.copyright_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile_copyright {
    text-align: center;
}

.links_wrapper {
    display: flex;
    justify-content: space-around;
}

.links_wrapper>div>:first-child {
    color: var(--color-outline);
}

.page_links_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 9rem;
    gap: 6px;
    padding-top: 12px;
}

.legal_links_wrapper {
    padding-top: 12px;
    display: grid;
    grid-template-columns: 1fr;
}

.legal_links_wrapper > *, .page_links_wrapper > * {
    min-height: 48px;
}

@media (--MOBILE) {
    .legal_links_wrapper > *, .page_links_wrapper > * {
        min-height: initial;
    }

    .wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        justify-content: initial;
        text-align: initial;
    }

    .mobile_copyright {
        display: none;
    }

    .normal_copyright {
        display: block;
    }

    .page_links_wrapper {
        grid-template-columns: 1fr 1fr;
        width: 12.5rem;
    }

    .links_wrapper {
        justify-content: start;
    }
}