.overlay {
    background: color-mix(in hsl, var(--color-scrim), transparent 68%);
    inset: 0;
    overflow: auto;
    position: fixed;
}

.content {
    width: 50vw;
    margin: 10vh auto;
    background: white;
    padding: 2rem;
    outline: none;
}