.overlay {
    background: color-mix(in hsl, var(--color-scrim), transparent 68%);
    inset: 0;
    overflow: auto;
    position: fixed;
}

.content {
    margin: 10vh auto;
    background: var(--color-surface);
    padding: 2rem;
    outline: none;
    position: relative;
    border-radius: var(--shape-extra-large);;
}