.button {
    background: none;
    color: inherit;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
    margin-top: 32px;
}

.title {
    margin-bottom: 8px;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    height: 50dvh;
}

@media (--TABLET) {
    .container {
        position: relative;
        width: 100%;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 32px;
        padding-right: 32px;
        height: 65dvh;
    }

    .card {
        margin: 96px;
    }
}
