.container {
    width: fit-content;
}

.dialogActions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding-top: 16px;
}

.picker {
    color: var(--color-on-background);
}

.picker .group {
    background-color: var(--color-background, white);
    height: 50px;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    align-items: center;
    width: fit-content;
    min-width: 220px;
    max-width: 100%;
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    border: 2px solid var(--color-on-background);
    border-radius: var(--shape-small);
    background: var(--color-background);
    white-space: nowrap;
}

.picker[data-focus-within] .group {
    outline: 2px solid var(--color-primary);
    outline-offset: -1px;
}

.picker [slot=start] + span {
    padding: 0 4px;
}
.picker [slot=end] {
    margin-right: 2px;
    flex: 1;
}
.picker .button {
    background: transparent;
    color: inherit;
    forced-color-adjust: none;
    border-radius: 4px;
    border: none;
    margin-left: auto;
    width: 1.429rem;
    height: 1.429rem;
    padding: 0;
    font-size: 0.857rem;
    box-sizing: content-box;
    flex-shrink: 0;
    position: sticky;
    right: 0;
}

.dateinput {
    display: flex;
    padding: 4px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    background: var(--field-background);
    width: fit-content;
    min-width: 150px;
    white-space: nowrap;
    forced-color-adjust: none;
}

.error {
    color: var(--color-error)
}

.picker .dateinput {
    width: unset;
    min-width: unset;
    padding: unset;
    border: unset;
    outline: unset;
}

.popover {
    border: 1px solid var(--border-color);
    border-radius: 6px;
    background: var(--color-surface-container-low);
    padding: 16px;
    color: var(--text-color);
    outline: none;
    max-width: 250px;
    box-sizing: border-box;
}

.popover[data-trigger=DateRangePicker] {
    max-width: unset;
}

.picker .fielderror {
    font-size: 12px;
    color: var(--color-error);
}

.picker[data-error] .group {
    border-color: color-mix(in hsl, var(--color-error), transparent 0%);
    color: var(--color-error);
}
.picker [slot=description] {
    font-size: 12px;
}

.header {
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 8px;
}
