.dialogActions {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.overlay {
    animation: animation-fade ease-in var(--animation-duration-medium3);
}

.container {
    border-radius: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.dialogItem {
    padding-bottom: 16px;
}

.input {
    width: 100%;
}

@media (--TABLET) {
    .container {
        margin: 10dvh auto;
        height: auto;
        width: 50dvh;
        border-radius: var(--shape-extra-large);
    }
}

.react-aria-RangeCalendar {
    width: fit-content;
    max-width: 100%;
    color: var(--text-color);
}

.react-aria-RangeCalendar header {
    display: flex;
    align-items: center;
    margin: 0 4px .5rem 4px;
}

.react-aria-RangeCalendar .react-aria-Heading {
    flex: 1;
    margin: 0;
    text-align: center;
    font-size: 1.375rem;
}

.react-aria-RangeCalendar .react-aria-Button {
    width: 2rem;
    height: 2rem;
    padding: 0;
}

.react-aria-RangeCalendar table {
    border-collapse: collapse;
}

.react-aria-RangeCalendar table td {
    padding: 2px 0;
}

.react-aria-RangeCalendar .react-aria-CalendarCell {
    width: 2.286rem;
    line-height: 2.286rem;
    text-align: center;
    border-radius: 6px;
    cursor: default;
    outline: none;
    forced-color-adjust: none;
}

.react-aria-RangeCalendar .react-aria-CalendarCell[data-outside-month] {
    display: none;
}

.react-aria-RangeCalendar .react-aria-CalendarCell[data-pressed] {
    background: var(--gray-100);
}

.react-aria-RangeCalendar .react-aria-CalendarCell[data-focus-visible] {
    outline: 2px solid var(--highlight-background);
    outline-offset: -2px;
}

.react-aria-RangeCalendar .react-aria-CalendarCell[data-selected] {
    background: var(--highlight-background);
    color: var(--highlight-foreground);
    border-radius: 0;
}

.react-aria-RangeCalendar .react-aria-CalendarCell[data-selected][data-focus-visible] {
    outline-color: var(--highlight-foreground);
    outline-offset: -3px;
}

.react-aria-RangeCalendar .react-aria-CalendarCell[data-selection-start] {
    border-start-start-radius: 6px;
    border-end-start-radius: 6px;
}

.react-aria-RangeCalendar .react-aria-CalendarCell[data-selection-end] {
    border-start-end-radius: 6px;
    border-end-end-radius: 6px;
}