.wrapper {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.chart {
    height: 190px;
}

.container {
    --padding: 16px;
    gap: var(--padding);
    display: flex;
    flex-wrap: wrap;
}

.filter {
    display: none;
}

.not_found_container {
    margin-top: 2.5dvh;
    height: 62.5dvh;
}

.not_found_desc {
    margin-bottom: 2vh;
    font-weight: var(--font-weight-extralight);
}

.error_container {
    height: 45dvh;
}

.error_link {
    margin-top: 2.5dvh;
    display: block;
}

.go_back {
    color: var(--color-primary);
}

.parkInfoContainer {
    margin-bottom: 16px;
}

@media (--TABLET) {
    .parkInfoContainer {
        margin-bottom: initial;
    }

    .chart {
        height: 480px;
    }

    .wrapper {
        flex: 1 1 48%;
    }

    .filter {
        margin-top: 16px;
        margin-bottom: 16px;
        height: 4rem;
        --space: 16px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: var(--space);
        padding-left: var(--space);
        padding-right: var(--space);
    }
}

.border {
    border: 1px solid var(--color-outline);
    border-radius: var(--shape-small);
}


