.icon_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    min-height: 24px;
    aspect-ratio: 1 / 1;
}

.container {
    background: transparent;
    cursor: pointer;
    height: 48px;
    min-width: 48px;
}

@media (--TABLET) {
    .container {
        height: 40px;
        min-width: 32px;
    }
}