.maxwidth_wrapper {
    max-width: 1100px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
}

@media (--MOBILE) {
    .maxwidth_wrapper {
        padding-inline-start: 32px;
        padding-inline-end: 32px;
    }
}