.input {
    color: var(--color-on-background, #333333);
    border: 2px solid var(--color-on-background, #e5e5e5);
    padding: 0 6px;
    background-color: var(--color-background, white);
    height: 50px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: var(--shape-small);
}

.input:focus {
    outline: none;
    border-color: var(--color-primary);
}